body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.menu-userData * {
	vertical-align: middle;
}
.menu-userData img {
  border-radius: 50%;
	margin-right: 0.5em;
}


.project-detail-name {
  border: 1px solid #2196f3;
  padding: 0 0.5em;
}